

/* Remove the body font-family declaration since we'll handle it via next/font */
body {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #cf6742;     
  --color-secondary: #0077b6;   
  --color-text: #3a7d44;  
  --color-primary-hover: #a14d2f;  
  --color-very-light-hover: #ffece5;  
}

/* Your other styles... */